<link rel="stylesheet" href="/style.css">
<body>
  <div><%- include("partials/navBar.ejs") %></div>
  <div style="display: inline-block; width: 40%;" >
    <div style="display: flex; justify-content: center;"><img style="max-width: 80%; " src="<%= product.image %>" alt=""></div>
  </div>
  <div style="display: inline-block; width: 58%; " >
    <h1 style="justify-content: center;"><%= product.name %></h1>
    <h2 style="justify-content: center;"><%= product.price %></h2>
    <p style="max-height: 70%; overflow: auto; width: 100%;" ><%= product.details %></p>
    <% if(product.inStock > 0) { %>
      <form action="/add-to-cart/<%= product._id.toString() %>">
        <input class="btn" type="submit" value = "Add to cart"/>
      </form>
    <% } else {%>
      <h3 style="color: red;">
        out of stock
      </h3>
    <% } %>
    <br>
    <button style="background-color: rgba(179, 42, 179, 0.767); font-size: medium;" class="btn" onclick="history.back()">Go Back</button>
    <!-- <form action = "/back">
      <input type="submit" style="background-color: rgba(179, 42, 179, 0.767); font-size: medium;" class="btn" value="Go Back"/>
    </form> -->
  </div>
</body>
